<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot test</title>
<meta charset="UTF-8" />
<link href="/css/sampleCss.css" th:href="@{/css/sampleCss.css}" rel="stylesheet"></link>
<script src="/js/sampleJs.js" th:src="@{/js/sampleJs.js}"></script>
</head>

<body>
<form action="#" th:action="@{/login}" th:object="${loginForm}" method="POST">
	<!-- show error per 'p' tag -->
	<div th:if="${#fields.hasErrors('*')}">
	    <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
	</div>
	<!-- line separator -->
	<p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Incorrect date</p>

	LoginID<input type="text" name="memberAccount" th:value="*{memberAccount}" /><br/>
	Password<input type="text" name="password" th:value="*{password}" /><br/>
	<input type="submit" value="ログイン"/>
</form>
</body>
</html>